h1 {
  color: red; }

.card-course-item {
  margin-top: 16px; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.collapse {
  display: flex;
  justify-content: flex-end; }

a {
  text-decoration: none; }

.checkbox-select-courses {
  width: 120px;
  margin: 0 16px; }
